<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTP SUR LA CARTE</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
</head>
<body>
    <div class="container">
        <h1 class="title">MTP SUR LA CARTE</h1>
        <h3 class="sub-title">Événements de la semaine : </h3>
        <div class="carousel">
            {% for evento in eventos %}
            <div class="carousel-cell">
                <img src="{{ evento.image }}" alt="Image">
                <div class="carousel-text">
                    <h4 class="limited-text">Événement : {{ evento.title }}</h4>
                    <p class="limited-text"><strong>Quand : {{evento.date}}  - {{evento.time_init}} - {{evento.time_end}}</strong></p>
                    <p class="limited-text"><strong>Prix : {{evento.price}}</strong></p>
                    <p class="limited-text"><strong>Adresse : {{evento.address}}</strong></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
      <script src="static/js/app.js"></script>
</body>
</html>
